.input {

  &__title {
    font-weight: 500;
    font-size: clamp(1.5rem, 1rem + 1vw, 2rem);
    margin-bottom: 0.2em;
  }

  &__fieldset {
    margin: 0 0 1rem 0;
    padding: 0;
    border: none;

    label {
      font-family: monospace;
      display: inline-block;
      font-size: 1rem;
      line-height: 1.5;
      padding: 0.25rem 0.5rem;
      margin-bottom: 0.5rem;
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &__description{
    opacity: 0.5;
  }

  &__button {
    border: none;
    font-size: 1.2rem;
    padding: 0.5em 1em;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
    transition: background-color 150ms linear;

    &:is(:hover, :focus-within) {
      cursor: pointer;
      background-color: hsl(0, 0%, 20%);
    }
  }
}