.input {

  &__title {
    font-weight: 500;
    font-size: clamp(1.5rem, 1rem + 1vw, 2rem);
    margin-bottom: 0.2em;
  }

  &__fieldset {
    margin: 0 0 1rem 0;
    padding: 0;
    border: none;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 0.7em;

    svg {
      height: 1rem;
      width: 1rem;
    }

    code {
      font-family: monospace;
      display: inline-block;
      font-size: 1rem;
      line-height: 1.5;
      padding: 0.2rem 0.4rem;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__description{
    opacity: 0.5;
  }

  &__submit {
    border: none;
    font-size: 1.2rem;
    padding: 0.5em 2em;
    font-family: inherit;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
  }
}