.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;

  &__error {
    font-size: clamp(2rem, 1rem + 5vw, 4rem);
    letter-spacing: 0.1em;
    line-height: 1;
  }

  &__message {
    font-size: clamp(2rem, 1rem + 1vw, 2.5rem);
  }
}
