.button {
  font-size: 1.2rem;
  font-family: inherit;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.7em 1.2em;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 0.1rem solid var(--secondary-color);
  cursor: pointer;
  transition: 
    color 200ms linear,
    border 200ms linear,
    background-color 200ms linear;

  &:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
  }
}