.result {
  @media (min-width: 62.5rem) {
    width: auto;
  }

  &__title {
    font-weight: 500;
    font-size: clamp(1.8rem, 1rem + 1vw, 2.2rem);
    margin-bottom: 0.2em;

    span {
      font-weight: 600;
      color: hsl(356, 85%, 57%);
      font-size: clamp(1.4rem, 1rem + 0.5vw, 2rem);
    }
  }

  &__predict {
    display: flex;
    min-height: 16rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;

    @media (min-width: 62.5rem) {
      width: 32rem;
      height: 32rem;
      overflow: hidden;
    }
  }

  &__text {
    font-size: 1.3rem;
    text-align: center;

    &-error {
      @extend .result__text;
      padding: 0 0.5rem;

      a {
        opacity: 0.4;
        display: inline;
        text-decoration: none;
        text-decoration: underline;
        color: var(--secondary-color);
      }
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2rem;
    padding: 0;

    @media (min-width: 62.5rem) {
      grid-auto-flow: column;
    }
  }
}
