.info {
  &__row {
    margin-bottom: 2.5rem;
  }

  &__title {
    font-weight: 400;
    font-size: clamp(1.5rem, 1rem + 1vw, 2rem);
    line-height: 1;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 0.08em solid var(--accent-color);
  }

  &__text {
    margin-bottom: 1em;

    a {
      color: hsl(356, 85%, 57%);
      text-decoration: underline;
    }
  }

  &__article {
    max-width: 48rem;

    p {
      margin-bottom: 1.5rem;
    }

    h1 {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 1rem;
    }

    pre {
      padding: 1rem;
      margin-bottom: 1.5rem;
      padding: 0.5rem;
      overflow-x: auto;
      color: var(--secondary-color);
      background-color: var(--accent-color);

      code {
        font-family: monospace;
        display: inline-block;
        font-size: 1rem;
        line-height: 1.2rem;
        padding: 0.25rem 0.5rem;
      }
    }
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    padding: 0;

    li {
      height: 10rem;
      overflow: hidden;

      img {
        width: 10rem;
      }
    }
  }
}
