.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  border-top: 0.15em solid var(--secondary-color);

  &__text {
    font-size: clamp(1rem, 1rem + 1vw, 1.3rem);

    span {
      color: hsl(356, 85%, 57%);
    }
  }

  &__social-links {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    fill: var(--secondary-color);
    transition: fill 150ms linear;

    &:hover {
      fill: hsl(356, 85%, 57%);
    }
  }
}
