.content-policy {
  flex-grow: 1;

  margin-bottom: 2.5rem;

  &__title {
    line-height: 1;
    font-weight: 400;
    font-size: clamp(1.5rem, 1rem + 1vw, 2rem);
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 0.08em solid var(--accent-color);
  }

  &__text {
    margin-bottom: 1em;
  }

  &__list {
    margin: 1rem;

    li {
      margin-bottom: 0.3rem;

      span {
        opacity: 0.7;
      }
    }
  }
}
