.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: clamp(0.5rem, 0.2rem + 1.5vw, 2.4rem);
  border-bottom: 0.15rem solid var(--secondary-color);

  &__title {
    font-family: 'Orbitron', sans-serif;
    font-size: clamp(1.5rem, 1rem + 1vw, 2.4rem);
    line-height: 1;

    & > span {
      color: hsl(356, 85%, 57%);
    }
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__navigation-list {
    display: flex;
    list-style: none;
    padding: 0;

    li {
      margin-right: 1rem;
      font-size: clamp(1rem, 1rem + 1vw, 1.3rem);
      transition: color 100ms linear;

      &:hover {
        color: hsl(356, 85%, 57%);
      }
    }
  }
}
